<%= link_to "Home", bikes_path %>

<%= form_for :bike, url: bikes_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :image %><br>
		<%= f.text_field :image %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>





