<div class="nav-name navbar-fixed-top">Lean In!
  <button class="new-contribution">
    <%= link_to "Home", bikes_path %>
  </button>
</div>



<div class='detailsCard basic-grey'>
<p class='detailsName'>
<!-- 	<strong>Name:</strong> -->
	<%= @bike.name %>
</p>

<p >
<!-- <strong>Image:</strong> -->
	<img class="detailsImage" src='<%= @bike.image %>'>
</p>


<h2 class="addComment">Add a comment:</h2>

<%= form_for([@bike, @bike.comments.build]) do |f| %>

<p>

 <%= f.label :commenter %><br>

 <%= f.text_field :commenter %>

</p>

<p>

 <%= f.label :body %><br>

 <%= f.text_area :body %>

</p>

<p>

 <%= f.submit %>

</p>

<% end %>
<% @bike.comments.each do |comment| %>
  <% if comment.id %>
<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>
<p>
   <strong>Comment:</strong>
   <%= comment.body %>
</p>
  <% end %>
  <% if comment.id %>
  <button>
    <%= link_to 'Destroy Comment',bike_comment_path(@bike, comment),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </button>


  <% end %>


  <% end %>

  <button>
    <%= link_to 'Destroy Post',bike_path(@bike),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </button>

	<button class="bikeButton">
	<%= link_to "Edit", edit_bike_path(@bike) %> 
	</button>

</div>





